{% extends base_template %}

{% block title %}Bookstore Signup{% endblock %}

{% block content %}

{% if created%}
<div class="text-center">
<form class="form-signin">
<br><br><br>
<h2  class="text-success">Successfully Added</h2><br>
<a href="/bookstore">Return to the homepage.</a><br/>
</form>
</div>
{% else %}
<form action="/bookstore/addnewbook/" class="form-signin" method="post" id="book_form" enctype="multipart/form-data"> 
{% csrf_token %}
<h2 class="form-signin-heading">New Book Arrival</h2><br>

   {% for field in book_form %}<h6 style="color:red">{{field.errors}}</h6>
   <div class="row">
   		<div class="col-lg-3"><label for="{{ field.id_for_label }}">{{ field.label_tag }}</label></div>
   		<div class="col-lg-9">{{field}}</div>
   </div>
   {% endfor %}
   <!-- {{ book_form.as_p }} -->
   <br>
   <input class="btn btn-primary pull-right" type="submit" name="submit" value="Save" />
   <a class="btn btn-default pull-right" href="/bookstore">Cancel</a>
</form>
{% endif %}
{% endblock %}
