{% extends base_template %}

{% block title %}Books{% endblock %}

{% block content %}

<h1>{{book.title}}</h1>

<div class="list-group-item bs-callout-warning">
<div class="row">
  <div class="col-lg-2">
    <img class="img-thumbnail" src="http://ecx.images-amazon.com/images/I/51AcjY2mWgL._SX358_BO1,204,203,200_.jpg"/>
  </div>
  <div class="col-lg-10">
    <h4 class="list-group-item-heading">{{book.title}}</h4>
  <h5 class="list-group-item-heading">By {{book.author}}</h5>

<p class="starp">
      Average Rating:
      <span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" checked>
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
      </span>
    </p>
  <button class="btn btn-s btn-warning pull-right" data-toggle="modal" data-target="#OrderModal" data-booktitle="{{book.title}}" data-bookisbn="{{book.ISBN}}" data-bookcopies="{{book.copies}}"> Order </button>

  <p class="list-group-item-text">ISBN: {{book.ISBN}}</p>
  <p class="list-group-item-text">Published by {{book.publisher}} in {{book.year_of_publication}}</p>
  <p class="list-group-item-text">Keywords: {{book.keywords}}</p>
  <p class="list-group-item-text">Subject: {{book.subject}}</p>
  <p class="list-group-item-text">{{book.copies}} copies available in {{book.format}}</p>
  <p class="list-group-item-text">Prices: {{book.price}}</p>
  </div>
</div>
</div>

<h5>Customer Feedbacks ({{feedback_list|length}})</h5>
<div class="list-group" style="max-height:250px;min-height:0px;overflow-y:auto">
{% for feedback in feedback_list %}
<div class="list-group-item bs-callout-warning">
<div class="row">
  <div class="col-lg-1">
    <img class="img-thumbnail" src="http://static1.squarespace.com/static/5432fb86e4b0a2c1da894800/t/54f8e985e4b0e3b41a3efe03/1425598853953/Avatar+%5Bcircle%5D.png?format=500w">
    <h5>{{forloop.counter}}</h5>
  </div>
  <div class="col-lg-1">
    <h5>{{feedback.customer_id}}'s comment</h5>
    <h6 class="text-muted">@{{feedback.date}}</h6>
    <h6 class="text-success">score: {{feedback.score}}</h6>
  </div>
  <div class="col-lg-8">
    <p>{{feedback.text}}</p>
  </div>
  <div class="col-lg-2">
<form action="/bookstore/vote/{{book.ISBN}}/" method="POST" id="voteForm"> {% csrf_token %}
<input type="hidden" id="vote_rater" name="vote_rater" value="{{feedback.customer_id}}"></input>

<p>Rating this book:</p>
<button class="btn btn-primary btn-xs" style="width:90px" type="submit" id="vote_score" name="vote_score" value='2'>
  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> very useful
</button><br>
<button class="btn btn-warning btn-xs" style="width:90px" type="submit" id="vote_score" name="vote_score" value='1'>
  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> useful
</button><br>
<button class="btn btn-default btn-xs" style="width:90px" type="submit" id="vote_score" name="vote_score" value='0'>
  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> useless
</button>
 </form>

  </div>
</div>
</div>
{%  endfor %}
</div>
<div>
 <form action="/bookstore/feedback/" method="POST" id="FeedbackForm"> {% csrf_token %}
 <h5>My Feedback</h5>
   Score 0-10 <input id="feedback_score" name="feedback_score" value=""></input>
    <textarea class="form-control" id="feedback_text" name="feedback_text" value="" placeholder="write down your feedback for this book."></textarea> 
    <input type="hidden" id="feedback_isbn" name="feedback_isbn" value="{{book.ISBN}}"></input>
    <button type="submit" class="btn btn-primary btn-success pull-right" name="order">Submit</button>

</form> 
</div>

<div class="modal fade" id="OrderModal" tabindex="-1" role="dialog" aria-labelledby="OrderModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="OrderModalLabel"></h4>
      </div>
      <form action="/bookstore/order/" method="POST" id="OrderForm"> {% csrf_token %}
        <div class="modal-body">
        <div class="input-group">

</div>
<div class="input-group">
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" data-value="decrease" data-target="#spinner" data-toggle="spinner">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </span>
    <input data-ride="spinner" id="spinner" class="form-control input-number" value="1" data-min="1" data-max="{{book.copies}}" name="spinner">
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" data-value="increase" data-target="#spinner" data-toggle="spinner">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </span>
</div>

          <p id="modalavail"></p>
        </div>
      <div class="modal-footer">
          <input type="hidden" id="order_isbn" name="order_isbn"></input>
          <input type="hidden" id="order_title" name="order_title"></input>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" name="order">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">

$('#OrderModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var book_title = button.data('booktitle') 
  var book_isbn = button.data('bookisbn') 
  var book_copies = button.data('bookcopies') 
  var modal = $(this)
  modal.find('#OrderModalLabel').text('Place order for '+ book_title+ ' ?')
  modal.find('#modalavail').text('Available copies: '+ book_copies)
  document.getElementById("order_isbn").value=book_isbn
  document.getElementById("order_title").value=book_title
});

</script>
{% endblock %}