{% extends base_template %}

{% block title %}Books{% endblock %}

{% block content %}
<h1>Books</h1>
{% if isManager %}
  <a href="/bookstore/addnewbook">Add new book</a>
{% endif %}
<form action="/bookstore/" method="POST" class="panel panel-default"> {% csrf_token %}
  <div class="panel-heading">Book Filter Panel
  <a href="/bookstore" class="pull-right">Clear Filter</a>
  </div>
  <div class="panel-body">
  <div class="row">
    <div class="col-lg-1"><h6>Search By</h6></div>
    <div class="col-lg-2">
    <input class="form-control" placeholder="Title" name="search_title" id="search_title" value="{{title}}"/>
    </div>
    <div class="col-lg-2">
    <input class="form-control" placeholder="Author" name="search_author" id="search_author" value="{{author}}"/>
    </div>
    <div class="col-lg-2">
    <input class="form-control" placeholder="Publisher" name="search_publisher" id="search_publisher" value="{{publisher}}"/>
    </div>
    <div class="col-lg-2">
    <input class="form-control" placeholder="Subject" name="search_subject" id="search_subject" value="{{subject}}"/>
    </div>
  </div>

  <div class="row">
  <div class="col-lg-1"><h6>Order By</h6></div>
  <div class="col-lg-1"><div class="radio"><label><input type="radio" name="optradio" id="order_1"/>Year</label></div></div>
  <div class="col-lg-2"><div class="radio"><label><input type="radio" name="optradio" id="order_2"/>Average score</label></div></div>
  <div class="col-lg-7"><input type="hidden" name="orderby" id="orderby" value="{{orderby}}"/></div>
  </div>

  <button class="btn btn-primary pull-right" type="submit" onclick="SetValue()" id="search_button">Search</button>
  </div>
</form>

<h3>{{page_title}} ({{book_list|length}})</h3>
<div class="list-group">
{% for book in book_list %}
<div class="list-group-item bs-callout-warning">
<div class="row">
  <div class="col-lg-2"><img class="img-thumbnail" src="http://ecx.images-amazon.com/images/I/51AcjY2mWgL._SX358_BO1,204,203,200_.jpg"/>
  </div>
  <div class="col-lg-10">
    <a href="/bookstore/detail/{{book.ISBN}}"><h4 class="list-group-item-heading">{{book.title}}</h4></a>
  <h5 class="list-group-item-heading">By {{book.author}}</h5>

<p class="starp">
      Average Score:
      <span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" checked>
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
      </span>
    </p>
    {% if isManager %}
    <button class="btn btn-s btn-warning pull-right" data-toggle="modal" data-target="#AddModal" data-booktitle="{{book.title}}" data-bookisbn="{{book.ISBN}}" data-bookcopies="{{book.copies}}"> Add </button>
    {% else %}
    <button class="btn btn-s btn-warning pull-right" data-toggle="modal" data-target="#OrderModal" data-booktitle="{{book.title}}" data-bookisbn="{{book.ISBN}}" data-bookcopies="{{book.copies}}"> Order </button>
    {% endif %}


  <p class="list-group-item-text">Published by {{book.publisher}} in {{book.year_of_publication}}</p>
  <p class="list-group-item-text">Price: {{book.price}}</p>
  <p class="list-group-item-text">Subject: {{book.subject}}</p>

  </div>
</div>
</div>
{% endfor %}
</div>

<div class="modal fade" id="OrderModal" tabindex="-1" role="dialog" aria-labelledby="OrderModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="OrderModalLabel"></h4>
      </div>
      <form action="/bookstore/order/" method="POST" id="OrderForm"> {% csrf_token %}
      	<div class="modal-body">
      		<input id="spinner" name="spinner" value=""/>
      		<p id="modalavail"></p>
      	</div>
     	<div class="modal-footer">
      		<input type="hidden" id="order_isbn" name="order_isbn"/>
      		<input type="hidden" id="order_title" name="order_title"/>
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	<button type="submit" class="btn btn-primary" name="order">Confirm</button>
      	</div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="AddModalLabel"></h4>
      </div>
      <form action="/bookstore/add/" method="POST" id="OrderForm"> {% csrf_token %}
        <div class="modal-body">
          <input id="add_copies" name="add_copies" value=""/>
          <p id="modalavail"></p>
        </div>
      <div class="modal-footer">
          <input type="hidden" id="add_isbn" name="add_isbn"/>
          <input type="hidden" id="add_title" name="add_title"/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="order">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript">

$('#OrderModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var book_title = button.data('booktitle') 
  var book_isbn = button.data('bookisbn') 
  var book_copies = button.data('bookcopies') 
  var modal = $(this)
  modal.find('#OrderModalLabel').text('Place order for '+ book_title+ ' ?')
  modal.find('#modalavail').text('Available copies: '+ book_copies)
  document.getElementById("order_isbn").value=book_isbn
  document.getElementById("order_title").value=book_title
});

$('#AddModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var book_title = button.data('booktitle') 
  var book_isbn = button.data('bookisbn') 
  var book_copies = button.data('bookcopies') 
  var modal = $(this)
  modal.find('#AddModalLabel').text('Add copies for '+ book_title+ ' ?')
  modal.find('#modalavail').text('Available copies: '+ book_copies)
  document.getElementById("add_isbn").value=book_isbn
  document.getElementById("add_title").value=book_title
});

$( document ).ready(function() {
   if (document.getElementById('orderby').value==1) {
      document.getElementById("order_1").checked = true;
    } else {
      document.getElementById("order_2").checked = true;
    }  
});


function SetValue() {
    if (document.getElementById('order_1').checked) {
    document.getElementById("orderby").value = 1;
  } else {
    document.getElementById("orderby").value = 0;
  }     
}



</script>
{% endblock %}