{% extends base_template %}

{% block title %}Books{% endblock %}

{% block content %}

<h1>{{book.title}}  <a style="font-size:15px" href="/bookstore">Back to Book List</a></h1>
<div class="list-group-item bs-callout-warning">
<div class="row">
  <div class="col-lg-2">
    <img class="img-thumbnail" src="http://ecx.images-amazon.com/images/I/51AcjY2mWgL._SX358_BO1,204,203,200_.jpg"/>
  </div>
  <div class="col-lg-8">
    <h4 class="list-group-item-heading">{{book.title}}</h4>
  <h5 class="list-group-item-heading">By {{book.author}}</h5>
  <h5 class="list-group-item-heading">Average Score: {{average|floatformat:-1}} </h5>
  <p class="star-ratings-sprite"><span style="width:{% widthratio average 1 10 %}%" class="rating"></span></p>

  <p class="list-group-item-text">ISBN: {{book.ISBN}}</p>
  <p class="list-group-item-text">Published by {{book.publisher}} in {{book.year_of_publication}}</p>
  <p class="list-group-item-text">Keywords: {{book.keywords}}</p>
  <p class="list-group-item-text">Subject: {{book.subject}}</p>
  <p class="list-group-item-text">Available in {{book.format}}</p>
  
  </div>
  <div class="col-lg-2 text-center">
    <h1 style="font-size:60px" class="text-success">${{book.price}}</h1>
    <h5 class="text-muted">{{book.copies}} copies avaliable</h5>

    <br><br>
    {% if isManager %}
    <button class="btn btn-s btn-warning" data-toggle="modal" data-target="#AddModal" data-booktitle="{{book.title}}" data-bookisbn="{{book.ISBN}}" data-bookcopies="{{book.copies}}"> Add </button>
    {% else %}
    {%if book.copies > 0%}
    <button class="btn btn-s btn-warning" id="OrderButton" data-toggle="modal"  data-booktitle="{{book.title}}" data-bookisbn="{{book.ISBN}}" data-bookcopies="{{book.copies}}" onclick=openModel("{{book.copies}}")> Order </button>
{%else%}
    <button class="btn btn-s btn-default" onclick="alert('Sorry, the book is out of stock.');"> Order </button>
    {%endif%}
    {% endif %}
  </div>
</div>
</div>
<h5><span class="glyphicon glyphicon-list-alt"></span>  Customer Feedbacks ({{feedback_list|length}}) 
{% if feedback_list|length > 0%}
<div class="dropdown pull-right">
 <p class="text-primary dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" style="cursor:pointer">Top Most Useful <span class="caret"></span></p>
  
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/bookstore/detail/{{book.ISBN}}">See All Reviews</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/bookstore/detail/{{book.ISBN}}/1">1</a></li>
    <li><a href="/bookstore/detail/{{book.ISBN}}/2">2</a></li>
    <li><a href="/bookstore/detail/{{book.ISBN}}/3">3</a></li>
    <li><a href="/bookstore/detail/{{book.ISBN}}/4">4</a></li>
    <li><a href="/bookstore/detail/{{book.ISBN}}/5">5</a></li>
    <li><a href="/bookstore/detail/{{book.ISBN}}/6">6</a></li>
    <li><a href="/bookstore/detail/{{book.ISBN}}/7">7</a></li>
    <li><a href="/bookstore/detail/{{book.ISBN}}/8">8</a></li>
    <li><a href="/bookstore/detail/{{book.ISBN}}/9">9</a></li>
    <li><a href="/bookstore/detail/{{book.ISBN}}/10">10</a></li>
  </ul>
</div>
{% endif%}
</h5>

{%if error == '1'%}
<div class="alert alert-danger" id="alert_box" role="alert">
<a href="/bookstore/detail/{{book.ISBN}}/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <strong>Sorry</strong> You cannot vote yourself 
</div>
{%elif error == '2'%}
<div class="alert alert-danger" id="alert_box" role="alert">
<a href="/bookstore/detail/{{book.ISBN}}/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <strong>Sorry</strong> You cannot vote twice
</div>
{%elif error == '3'%}
<div class="alert alert-success" id="alert_box" role="alert">
<a href="/bookstore/detail/{{book.ISBN}}/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <strong>Success</strong> Vote recorded
</div>
{%endif%}

<div class="list-group" style="max-height:250px;min-height:0px;overflow-y:auto">
{% for feedback in feedback_list %}
<div class="list-group-item bs-callout-warning">
<div class="row">
  <div class="col-lg-1"><span class="badge">{{forloop.counter}}</span><span class="list-group-item-text">  {{feedback.customer_id}}</span>
  <h5>
    <img class="img-thumbnail" src="http://static1.squarespace.com/static/5432fb86e4b0a2c1da894800/t/54f8e985e4b0e3b41a3efe03/1425598853953/Avatar+%5Bcircle%5D.png?format=500w">
    </h5>
  </div>
  <div class="col-lg-2">
    <h5><h6 class="text-muted">comment@{{feedback.date}}</h6></h5>
    
    <h6 class="text-success"><p class="star-ratings-sprite"><span style="width:{% widthratio feedback.score 1 10 %}%" class="rating"></span></p>score ({{feedback.score}})</h6>

  </div>
  <div class="col-lg-7">
    <p>{{feedback.text}}</p> 
  </div>
  <div class="col-lg-2">
<form action="/bookstore/vote/{{book.ISBN}}/" method="POST" id="voteForm"> {% csrf_token %}
<input type="hidden" id="vote_rater" name="vote_rater" value="{{feedback.customer_id}}"></input>

<p>Rate this feedback</p>
<button class="btn btn-primary btn-xs" style="width:100px" type="submit" id="vote_score" name="vote_score" value='2'>
  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> very useful  {{feedback.2}} </button><br>
<button class="btn btn-warning btn-xs" style="width:100px" type="submit" id="vote_score" name="vote_score" value='1'>
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> useful  {{feedback.1}}
</button><br>
<button class="btn btn-default btn-xs" style="width:100px" type="submit" id="vote_score" name="vote_score" value='0'>
  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> useless  {{feedback.0}}
</button>
 </form>

  </div>
</div>
</div>
{%  endfor %}
</div>
<div>
 <form action="/bookstore/feedback/" method="POST" id="FeedbackForm"> {% csrf_token %}
 <h5><span class="glyphicon glyphicon-star"></span> My Feedback</h5>
 {%if error == '4'%}
 <div class="alert alert-danger" id="alert_box" role="alert">
<a href="/bookstore/detail/{{book.ISBN}}/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <strong>Sorry</strong> Please provide feedback score.
</div>
{%elif error == '5'%}
 <div class="alert alert-danger" id="alert_box" role="alert">
<a href="/bookstore/detail/{{book.ISBN}}/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <strong>Sorry</strong> You can only feedback this book once.
</div>
{%elif error == '6'%}
<div class="alert alert-success" id="alert_box" role="alert">
<a href="/bookstore/detail/{{book.ISBN}}/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <strong>Success</strong> Feedback recorded
</div>
{%endif%}
 <div class="list-group-item">
 <div class="row">
   <div class="col-lg-2">
     <span class="list-group-item-text">Score(1-10)</span>
   </div>
   <div class="col-lg-10">
     <div class="acidjs-rating-stars">
<input type="radio" name="feedbackscore" id="feedback-score-0" value="10" title="1" data-toggle="tooltip"/><label for="feedback-score-0"></label><!--
--><input type="radio" name="feedbackscore" id="feedback-score-1" value="9" title="1" data-toggle="tooltip" /><label for="feedback-score-1"></label><!--
--><input type="radio" name="feedbackscore" id="feedback-score-2" value="8" title="1" data-toggle="tooltip" /><label for="feedback-score-2"></label><!--
--><input type="radio" name="feedbackscore" id="feedback-score-3" value="7" title="1" data-toggle="tooltip" /><label for="feedback-score-3"></label><!--
--><input type="radio" name="feedbackscore" id="feedback-score-4"  value="6" title="1" data-toggle="tooltip" /><label for="feedback-score-4"></label><!--
--><input type="radio" name="feedbackscore" id="feedback-score-5"  value="5" title="1" data-toggle="tooltip" /><label for="feedback-score-5"></label><!--
--><input type="radio" name="feedbackscore" id="feedback-score-6"  value="4" title="1" data-toggle="tooltip" /><label for="feedback-score-6"></label><!--
--><input type="radio" name="feedbackscore" id="feedback-score-7"  value="3" title="1" data-toggle="tooltip" /><label for="feedback-score-7"></label><!--
--><input type="radio" name="feedbackscore" id="feedback-score-8"  value="2" title="1" data-toggle="tooltip" /><label for="feedback-score-8"></label><!--
--><input type="radio" name="feedbackscore" id="feedback-score-9"  value="1" title="1" data-toggle="tooltip" /><label for="feedback-score-9"></label>
</div>  <label class="badge" id="scorechoice">0</label>
   </div>
 </div>
 <div class="row">
   <div class="col-lg-2">
     <span class="list-group-item-text">Feedback</span>
   </div>
   <div class="col-lg-10">
     <input class="hidden" id="feedback_score" name="feedback_score" value="0"/>
    <textarea class="form-control" id="feedback_text" name="feedback_text" value="" placeholder="write down your feedback for this book."></textarea> 
    <input type="hidden" id="feedback_isbn" name="feedback_isbn" value="{{book.ISBN}}"/>
   </div>
 </div>
 <div class="row">
   <div class="col-lg-12">
     <button type="submit" class="btn btn-primary btn-success pull-right" name="order">Submit</button>
   </div>
 </div>
 </div>
</form> 
</div>



<div class="modal fade" id="OrderModal" tabindex="-1" role="dialog" aria-labelledby="OrderModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="OrderModalLabel"></h4>
      </div>
      <form action="/bookstore/order/" method="POST" id="OrderForm"> {% csrf_token %}
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-value="decrease" data-target="#spinner" data-toggle="spinner">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
            </span>
      <input data-ride="spinner" id="spinner" class="form-control input-number" value="1" data-min="1" data-max="{{book.copies}}" name="spinner">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" data-value="increase" data-target="#spinner" data-toggle="spinner">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </span>
        </div>
          <h5 class="list-group-item-text" id="modalavail"></h5>
        </div>
      <div class="modal-footer">
          <input type="hidden" id="order_isbn" name="order_isbn"/>
          <input type="hidden" id="order_title" name="order_title"/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" name="order">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="AddModalLabel"></h4>
      </div>
      <form action="/bookstore/add/" method="POST" id="OrderForm"> {% csrf_token %}
        <div class="modal-body">
          <h5 class="list-group-item-text">Add <input id="add_copies" name="add_copies" value=""/> copies | <span class="list-group-item-text" id="modalavail"></span></h5>
          
        </div>
      <div class="modal-footer">
          <input type="hidden" id="add_isbn" name="add_isbn"/>
          <input type="hidden" id="add_title" name="add_title"/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="order">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>



<script type="text/javascript">
$('input[name=feedbackscore]').click(function() {
    score = $('input[name=feedbackscore]:checked').val();
    $('#feedback_score').val(score);
    // $('#scorechoice').removeClass('hidden');
    $('#scorechoice').text(score+'');
});

$('input[type=radio][name=feedbackscore]').tooltip({placement:"top", trigger: "hover"});

$('#OrderModal').on('show.bs.modal', function (event) {
  var button = $('#OrderButton') 
  var book_title = button.data('booktitle') 
  var book_isbn = button.data('bookisbn') 
  var book_copies = button.data('bookcopies') 
  var modal = $(this)
  modal.find('#OrderModalLabel').text('Place order for '+ book_title+ ' ?')
  modal.find('#modalavail').text('Available copies: '+ book_copies)
  document.getElementById("order_isbn").value=book_isbn
  document.getElementById("order_title").value=book_title
  $("#spinner").bind("change keyup", function() {
    if ($('#spinner').val() > book_copies){
      alert("Not enough stock!")
       $('#spinner').val(book_copies)
     }else if ($('#spinner').val() != "" && $('#spinner').val()==0 && book_copies!=0){
      alert("Please enter a valid number.")
       $('#spinner').val(1)
     } 
  });
});


$('#AddModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var book_title = button.data('booktitle') 
  var book_isbn = button.data('bookisbn') 
  var book_copies = button.data('bookcopies') 
  var modal = $(this)
  modal.find('#AddModalLabel').text('Add copies for '+ book_title+ ' ?')
  modal.find('#modalavail').text('Available copies: '+ book_copies)
  document.getElementById("add_isbn").value=book_isbn
  document.getElementById("add_title").value=book_title
});

function openModel(copies) {
    if (copies == 0){
      alert('Sorry, the book is out of stock.')
    } else {
      $('#OrderModal').modal('show')
    }
}

</script>
{% endblock %}