{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
<h1>Books</h1>
<div class="panel panel-default">
  <div class="panel-heading">Book Filter Panel</div>
  <div class="panel-body">
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Title <span class="caret"></span></button>
	        <ul class="dropdown-menu">
	        <li><a href="#">Search By</a></li>
	        <li role="separator" class="divider"></li>
	          <li><a href="#">Title</a></li>
	          <li><a href="#">Author</a></li>
	          <li><a href="#">Subject</a></li>
	          <li><a href="#">Publisher</a></li>         
	        </ul>
	      </div>
	      <input type="text" class="form-control" aria-label="...">
	    </div>
	  </div>
	  <div class="col-lg-6">
	  </div>
	</div>

	<div class="row">
	<div class="col-lg-1"><h6>Price From</h6></div>
		<div class="col-lg-1"><input type="number" class="form-control"></div>
		<div class="col-lg-1"><h6>To</h6></div>
		<div class="col-lg-1"><input type="number" class="form-control"></div>
		<div class="col-lg-4"></div>
	</div>

	<div class="row">
	<div class="col-lg-1"><h6>Order By</h6></div>
	
	<div class="col-lg-11">
	
	<div class="btn-group btn-group-justified" role="group" aria-label="...">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default">Title</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default">Author</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default">Subject</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default">Price</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default">Stock</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default">Publication Year</button>
	  </div>
	</div>
	</div>
	</div>
  </div>
</div>
<h3>Most Popular Recommendations</h3>
<div class="list-group">
{% for book in book_list %}
<a href="#" class="list-group-item bs-callout-warning">
	<h4 class="list-group-item-heading">{{book.title}}</h4>
  <h5 class="list-group-item-heading">By {{book.author}}</h5>

<p class="starp">
      Rating:
      <span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" checked>
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
      </span>
    </p>
  <button class="btn btn-s btn-warning pull-right">Add to Cart</button>
  <button class="btn btn-s btn-success pull-right">Order</button>
  <p class="list-group-item-text">Published by {{book.publisher}} in {{book.year_of_publication}}</p>
  <p class="list-group-item-text">Subject: {{book.subject}}</p>
 
</a>
{% endfor %}
</div>
{% endblock %}