{% load staticfiles %}

<html ng-app="myApp">
<body ng-cloak="">
  <title>Online Bookstore Application</title>
  <link rel="stylesheet" href="{% static 'bookstore/css/bootstrap.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/custom.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/font-awesome.min.css' %}" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Online Bookstore</a>
          <a class="blog-nav-item pull-right" href="#">Welcome! {{username}}</a>
          <a class="blog-nav-item pull-right" href="#">My Order Records</a>
          <a class="blog-nav-item pull-right" href="#">logout</a>
        </nav>
      </div>
    </div>

<!-- Libraries -->
<script src="{% static 'bookstore/js/angular.min.js' %}"></script>
<script src="{% static 'bookstore/js/ui-bootstrap-tpls-0.11.2.min.js' %}"></script>
<script src="{% static 'bookstore/js/angular-route.min.js' %}"></script>
<script src="{% static 'bookstore/js/angular-animate.min.js' %}"></script>

<!-- AngularJS custom codes -->
<script src="{% static 'bookstore/app/app.js' %}"></script>
<script src="{% static 'bookstore/app/data.js' %}"></script>
<script src="{% static 'bookstore/app/directives.js' %}"></script>
<!-- <script src="{% static 'bookstore/app/productsCtrl.js' %}"></script> -->

<!-- Some Bootstrap Helper Libraries -->

<script src="{% static 'bookstore/js/jquery.min.js' %}"></script>
<script src="{% static 'bookstore/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bookstore/js/underscore.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'bookstore/js/ie10-viewport-bug-workaround.js' %}"></script>

<div class="container">
    <div class="page-content">
      <div>
        <h4 class="blog-post-title">Books</h4>
        <hr/>

        <div class="table-responsive">
        <div class="panel panel-primary">
          <div class="panel-heading">List of Books</div>
          <div class="panel-body">
          {% if book_list %}
              <table class="table table-striped">
              <tr>
                <th>ISBN</th>
                <th>Title</th>
                          <th>Price</th>
                          <th>Copies</th>
                          <th>Format</th>
                          <th>Author</th>
              </tr>
              {% for c in book_list %}
                      <tr>
                          <td>{{c.ISBN}}</td>
                          <td>{{c.title}}</td>
                          <td>{{c.price}}</td>
                          <td>{{c.copies}}</td>
                          <td>{{c.format}}</td>
                          <td>{{c.author}}</td>
                      </tr>
              {% endfor %}
              </table>
          {% else %}
              <p><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</p>
          {% endif %}
        </div>
        </div>
        </div>
      </div>
    </div>
</div>

</body>
</html>