{% extends base_template %}

{% block title %}Books{% endblock %}

{% block content %}
<h2>My Order Records</h2>
    {%if order_list|length > 0%}
	<table id="orderRecord" class="table table-striped">
	<tr>
        <th>order id</th>
        <th>isbn</th>
        <th>title</th>
        <th>order date</th>
        <th>order status</th>
        <th>amount </th>
    </tr>
    {% for order in order_list %}
    <tr>
	      <td>{{order.id}}</td>
	      <td>{{order.book_id}}</td>
	      <td>{{order.title}}</td>
	      <td>{{order.order_date}}</td>
	      <td>{{order.order_status}}</td>
	      <td>{{order.copies}}</td>
	</tr>
	{% endfor %}
	{%else%}
	<h5>You have no order records.</h5>
	{%endif%}
</table>
<h3><span class="step-links" style="font-size:12px">
        {% if orders.has_previous %}
            <a href="?page={{ orders.previous_page_number }}">Previous </a>
        {% endif %}

{% for num in orders.paginator.page_range %}
  {% if num == orders.number %}
    <span class="current"><b>{{ num }}</b></span>
  {% else %}
    <a href="?page={{ num }}"> {{ num }}</a>
  {% endif %} 
{% endfor %}

        {% if orders.has_next %}
            <a href="?page={{ orders.next_page_number }}"> Next</a>
        {% endif %}
    </span></h3>
{% endblock %}