{% load staticfiles %}
<html>
<head>
  <title>{% block title %}Online Bookstore{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bookstore/css/bootstrap.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/bootstrap-theme.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/signin.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/star-rating.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/jumbotron.css' %}" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'bookstore/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bookstore/js/bootstrap-spinner.min.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/login">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>  B&N Online Bookstore</a>
          <!-- <a href="/login"><img width="230px" src="{% static 'bookstore/img/sidebar.png' %}"></a> -->
        </div>
      </div>
    </nav>
<div class="container">
{% block content %}
{% endblock %}
</div>
</body>
</html>