{% load staticfiles %}

<html ng-app="myApp">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bookstore/css/bootstrap.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/custom.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/font-awesome.min.css' %}" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- Libraries -->
  <script src="{% static 'bookstore/js/angular.min.js' %}"></script>
  <script src="{% static 'bookstore/js/ui-bootstrap-tpls-0.11.2.min.js' %}"></script>
  <script src="{% static 'bookstore/js/angular-route.min.js' %}"></script>
  <script src="{% static 'bookstore/js/angular-animate.min.js' %}"></script>

  <!-- AngularJS custom codes -->
  <script src="{% static 'bookstore/app/app.js' %}"></script>
  <script src="{% static 'bookstore/app/directives.js' %}"></script>

  <!-- Some Bootstrap Helper Libraries -->
  <script src="{% static 'bookstore/js/jquery.min.js' %}"></script>
  <script src="{% static 'bookstore/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bookstore/js/underscore.min.js' %}"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{% static 'bookstore/js/ie10-viewport-bug-workaround.js' %}"></script>

  <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item active" href="">Online Bookstore</a>
      </nav>
    </div>
  </div>
</head>

<body ng-controller="AppController">
<div class="container" id='content'>

{% block content %}
{% endblock %}
</div>

</body>
</html>