{% load staticfiles %}

<html>
<head>
  <title>{% block title %}Online Bookstore{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bookstore/css/bootstrap.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/bootstrap-theme.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/signin.css' %}" type="text/css" />
  <!-- <link rel="stylesheet" href="{% static 'bookstore/css/grid.css' %}" type="text/css" /> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'bookstore/js/bootstrap.min.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/bookstore">Online Bookstore</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li><a href="">Welcome, {{user.fullname}}</a></li>
            <li><a href="/bookstore/myorderrecords">My Order Records</a></li>
            <li><a href="/bookstore/shoppingcart">My Shopping Cart</a></li>
            <li><a href="/logout">Logout</a></li>
           <!--  <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <a class="blog-nav-item pull-right" href="logout">Logout</a>
                <a class="blog-nav-item pull-right" href="#">My Order Records</a> -->
                <!-- <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li> -->
<!--               </ul>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
<div class="container">
{% block content %}
{% endblock %}
</div>
</body>
</html>