{% load staticfiles %}
<html>
<head>
  <title>{% block title %}Online Bookstore{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bookstore/css/bootstrap.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/bootstrap-theme.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/signin.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/star-rating.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'bookstore/css/jumbotron.css' %}" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'bookstore/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bookstore/js/bootstrap-spinner.min.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/bookstore"><img width="230px" src="{% static 'bookstore/img/sidebar.png' %}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="/bookstore/account">Welcome, {{user.fullname}}</a></li>
            <li><a href="/bookstore/myorderrecords">My Order Records</a></li>
            <li><a href="/bookstore/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<div class="container">
{% block content %}
{% endblock %}
</div>
</body>
</html>