{% if user.email %}
<p>
{% url 'bookstore:index' as url_bookstore_index %}
<a href='{{ url_bookstore_index }}'>Welcome! {{user.email}}</a>
</p>

<p>
<a href='#'>My Order Records</a>
</p>

<p>
{% url 'bookstore:logout' as logout_url %}
<a href='{{ logout_url }}'>Logout</a>
</p>

{% else %}
<p>
<a href='{{ url_bookstore_index }}'>Home</a>
</p>

<p>
{% url 'bookstore:login' as login_url %}
<a href='{{ login_url }}'>Login</a>
</p>
{% endif %}


<!--   <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item active" href="#">Online Bookstore</a>
        <a class="blog-nav-item pull-right" href="#">Welcome! {{username}}</a>
        <a class="blog-nav-item pull-right" href="#">My Order Records</a>
      </nav>
    </div>
  </div> -->
